body, input {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    width: 400px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    background: rgb(78,190,254);
    background: linear-gradient(90deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    color: #fff;
    padding-bottom: 100px;
}

.mainLogo {
    margin: 60px 0 100px 0;
}

.textDream {
    font-size: 15px;
}

.dreamLive {
    font-size: 35px;
}

.dreamLive span {
    font-size: 55px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #ffd429;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    display: block;
    width: 230px;
    padding: 20px 0;
    margin-top: 50px;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
}
.btn:hover {
    background-color: #f7e08d;
}

.payFuture {
    background-color: #ecf3f8;
    padding-bottom: 100px;
}

.footer {
    background-color: #164d7a;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.joy {
    display: flex;
    justify-content: space-between;
}

.goFuture {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 80px;
}

.textFreeTime {
    margin-bottom: 120px;
}

.freeTime {
    text-align: center;
}

.happy1 {
    background: url('../img/icon1.png') no-repeat top;
    padding: 60px 0 0 0;
}
.happy2 {
    background: url('../img/icon2.png') no-repeat top;
    padding: 60px 0 0 0;
}
.happy3 {
    background: url('../img/icon3.png') no-repeat top;
    padding: 60px 0 0 0;
}

.formFuture {
    width: 350px;
}

.formFuture input{
    border: 1px #bbbbbb solid;
    margin-bottom: 10px;
    width: 350px;
    height: 50px;
    padding-left: 20px;
}

.btn-form {
    border: 0;
    width: 350px;
    margin: 0;
}

.futureFlex {
    display: flex;
    justify-content: center;
}

.bottomText {
    color: #fff;
    margin: 60px 0;
}

.goFutureMargin {
    display: flex;
    justify-content: center;
}

.ticket-form {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

.dreamProtection {
    display: flex;
    justify-content: center;
}

.textFreeTime {
    width: 310px;
}

/* Responsive */

/* 992px - 1200px */
@media screen and (max-width: 1200px) 
{
    .container {
        width: 960px;
    }
    .relax {
        width: 550px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) 
{
    .container {
        width: 720px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .relax {
        margin-top: 50px;
        width: 550px;
    }
    .mainLogo {
        margin: 60px 100px 100px 100px;
    }
    .joy {
        flex-direction: column;
    }
}

/* 576px - 786px */
@media screen and (max-width: 768px)
{
    .container {
        width: 540px;
    }
    .mainLogo {
        margin: 60px 20px 100px 20px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px)
{
    .container {
        width: auto;
    }
    .mainLogo {
        margin: 60px 55px 100px 55px;
    }
    .joy {
        margin-left: 25px;
    }
    .relax {
        margin-top: 50px;
        width: 300px;
    }
    .textFreeTime {
        width: 290px;
    }
    .ticket-form {
        margin-left: 25px;
    }
    .goFuture {
        margin-left: 25px;
    }
    .formFuture input {
        width: 280px;
        margin-left: 15px;
    }
    .btn {
        margin-left: 100px;
    }
    .btn-form {
        width: 280px;
        margin-left: 15px;
    }
    .bottomText {
        margin-left: 25px;
    }
    .textDream {
        width: 200px;
        margin-left: 100px;
    }
    .dreamLive {
        width: 200px;
        margin-left: 100px;
    }
}